*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-black: #152528;
  --color-white: #f1f1f1;
  --color-primary: #EF3054;
  --color-secondary: #28502E;
  --color-accent: #47682C;
}

html {
  width: 100vw;
  min-height: 100vh;

  font-size: 62.5%;

  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100%;

  font-size: 1.6rem;
  font-family: 'Anek Malayalam', sans-serif;
  color: var(--color-black);

  background-color: var(--color-black);

  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  width: 42rem;
  height: 100%;

  margin-top: 6rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}