.person {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 2.6rem;

  background-color: var(--color-white);

  cursor: pointer;
  transition: all .15s ease-out;
}

.person:hover {
  background-color: #fff !important;
}

.person:nth-child(2n) {
  background-color: #dcdcdc;
}

.person__name {
  font-size: 2.2rem;
}

.person__date {
  display: inline-block;

  margin-left: 2.4rem;

  color: #848484;
  text-align: right;

  border-radius: 100vmax;
}

.person__date--close, .person__date--missed {
  padding: .6rem 1.2rem;

  color: var(--color-white);
}

.person__date--close {
  background-color: #ff6000;
}

.person__date--missed {
  background-color: var(--color-primary);
}